@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

$primary-font: "Open Sans", sans-serif;
$primary-color: #009ae2;

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: $primary-font;
  font-weight: 300;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}