<template>
  <main class="app">
    <navigation />
    <router-view />
  </main>
</template>

<script>
import navigation from '@/components/navigation.vue';

export default {
  name: 'App',
  components: {
    navigation,
  },
  data() {
    return {
      message: 'Hello World!',
    };
  },
  mounted() {
    this.$nextTick(() => {
      // Do something when vue has finished rendering
    });
  },
};
</script>

<style lang="scss">
.app {
  color: #4d94ff;
  text-align: center;
}
</style>
