<template>
  <nav class="navigation">
    <ul>
      <li>
        <router-link to="/">
          Start
        </router-link>
      </li>
      <li>
        <router-link to="/about">
          About
        </router-link>
      </li>
    </ul>
  </nav>
</template>

<script>
export default {
  name: 'Navigation',
  data() {
    return {
      message: 'hello!',
    };
  },
  created() {
    this.message = 'bye!';
  },
};
</script>

<style lang="scss">

ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;

  li {
    padding: 7px;
  }
}

</style>
