<template>
  <div>
    {{ message }}
  </div>
</template>

<script>
export default {
  name: 'IndexPage',
  data() {
    return {
      message: 'Hello from index.vue',
    };
  },
};
</script>

<style lang="scss">

</style>
